html, body{
    margin:0;
    padding:0;
    font-size:62.5%;
    box-sizing:border-box;
    
}

a{
    text-decoration: none;
    color:inherit;
}

body{
    height:100%;
    width:100%;
    text-align: center;
    font-size:2rem;
    font-family: serif;
}

header{
    
}

#navbar{
    width:100%;
    height:auto;
    margin:0 auto;
    display: block;
}

#navbar > ul{
    list-style: none;
    padding:0;
    margin:0;
    width: 70%;
    display:inline-block;
    position: absolute;
    top:4rem;
    left:20rem;
}

#navbar > ul > li{
    display: inline-block;
    float:left;
}

#navbar > ul > li:nth-child(1){
    width:10%;
}

#navbar > ul > li:nth-child(2){
    width:25%;
}

#navbar > ul > li:nth-child(3){
    width:17%;
}

#navbar > ul > li:nth-child(4){
    width:15%;
}

#navbar > ul > li:nth-child(5){
    width:18%;
}

#navbar > ul > li:nth-child(6){
    width:15%;
}

#navbar > ul > li:nth-child(1) > a{
    width:8rem;
    height:6rem;
    display: inline-block;
}

#navbar > ul > li:nth-child(2) > a{
    width:17rem;
    height: 6rem;
    display: inline-block;
}

#navbar > ul > li:nth-child(3) > a{
    width:11rem;
    height: 6rem;
    display: inline-block;
}

#navbar > ul > li:nth-child(4) > a{
    width:10rem;
    height: 6rem;
    display: inline-block;
}

#navbar > ul > li:nth-child(5) > a{
    width:12rem;
    height: 6rem;
    display: inline-block;
}

#navbar > ul > li:nth-child(6) > a{
    width:10rem;
    height: 6rem;
    display: inline-block;
}


#navbar > ul > li > a{
    text-decoration: none;
    color:#ffffff;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 700;
    font-size:1.6rem;
    text-shadow:1px 1px 5px #000000;
    letter-spacing: 1px;
    border-radius: 4px;
    transition:.5s;
}

/* dropdown for menu/location pages */

#label_menu{
    text-decoration: none;
    color:#ffffff;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 700;
    font-size:1.6rem;
    text-shadow:1px 1px 5px #000000;
    letter-spacing: 1px;
    border-radius: 4px;
    transition:.5s;
    display: inline-block;
    height: 6rem;
    width:20rem;
}

#label_menu:hover{
    background-color:#BCCF3D;
}

#navbar > ul > li > a:hover{
    background-color:#BCCF3D;
}

.index_span_position{
    position:relative;
    top:2rem;
}

#menu_dropdown{
    background-color:#ffffff;
    width:18rem;
    height: 14rem;
    font-weight: 400;
    color:#525252;
    font-size:1.4rem;
    margin:0 auto;
    display: none;
    position:relative;
    top:1.5rem;
    left:-3rem;
    font-family: "muli";
    z-index: 1;
}

#menu_dropdown p{
    display: inline-block;
    width:100%;
    text-align: left;
    height: calc(100%/3);
    margin:0;
    
}

#menu_dropdown p a{
    display: block;
    height: 100%;
    width:100%;
}

.menu_p a:hover{
    background-color:#BCCF3D;
}

#menu_dropdown p a span{
    padding-left:2rem;
    position:relative;
    top:1.5rem;
}

#input_menu{
    display: none;
}

#input_menu:checked + #menu_dropdown{
    display: block;
}

/* dropdown for catering pages */

#label_menu2{
    text-decoration: none;
    color:#ffffff;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 700;
    font-size:1.6rem;
    text-shadow:1px 1px 5px #000000;
    letter-spacing: 1px;
    border-radius: 4px;
    transition:.5s;
    display: inline-block;
    height: 6rem;
    width:12rem;
}

#label_menu2:hover{
    background-color:#BCCF3D;
}

#navbar > ul > li > a:hover{
    background-color:#BCCF3D;
}

.index_span_position{
    position:relative;
    top:2rem;
}

#catering_dropdown{
    background-color:#ffffff;
    width:28rem;
    height: 14rem;
    font-weight: 400;
    color:#525252;
    font-size:1.4rem;
    margin:0 auto;
    display: none;
    position:relative;
    top:1.5rem;
    font-family: "muli";
    z-index: 1;
}

#catering_dropdown p{
    display: inline-block;
    width:100%;
    text-align: left;
    height: calc(100%/3);
    margin:0;
    
}

#catering_dropdown p a{
    display: block;
    height: 100%;
    width:100%;
}

.menu_p a:hover{
    background-color:#BCCF3D;
}

#catering_dropdown p a span{
    padding-left:2rem;
    position:relative;
    top:1.5rem;
}

#input_menu2{
    display: none;
}

#input_menu2:checked + #catering_dropdown{
    display: block;
    
}


#label_section{
    display: block;
    background-image:url(http://i.imgur.com/zlwZhA7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#dustybuns_label{
    width:50rem;
    display: inline-block;
    position: relative;
    top:21rem;
    height: 20rem;
}

#dustybuns_label p:nth-child(1){
    color:#ffffff;
    font-family: "pacifico";
    text-transform: capitalize;
    font-size:7.2rem;
    padding:0;
    margin:0;
}

#dustybuns_label p:nth-child(2){
    color:#ffffff;
    font-family: "muli";
    text-transform: capitalize;
    font-size:4.1rem;
    padding:0;
    margin:0;
}

#welcome > p:nth-child(1){
    font-family: "pacifico";
    font-size:7.2rem;
    color: #ffc300;
    padding: 0;
    margin:6rem 0 1rem 0;
}

#welcome > p:nth-child(2) img{
    width:17rem;
}

#welcome > p:nth-child(3){
    font-family: "muli";
    font-size: 1.8rem;
    width: 95rem;
    display: inline-block;
    margin-bottom: 20rem;
    line-height:3rem;
}

#board_image{
    background-image:url(http://i.imgur.com/kp1S7UB.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80rem;
    
}

#index_photos{
    width:117rem;
    display: inline-block;
    position: relative;
    top:-94rem;
    height: 18rem;
}

#topleft_div{
    height: 53.6rem;
    width:calc(100%/2);
    display: inline-block;
    float:left;
}

#topleft_div > div:nth-child(1){
    width:calc(100%/2);
    display:inline-block;
    float: left;
}

#topleft_div > div:nth-child(1) > img{
    width:100%;
    height: 53.6rem;
}

#topleft_div > div:nth-child(2){
    width:calc(100%/2);
    display:inline-block;
    height: 100%;
    background-color:#BCCF3D;
    font-family: "muli";
    font-size: 1.6rem;
}

#topleft_div > div:nth-child(2) > p{
    margin:0;
    line-height:2.5rem;
}

.fontawesome_icons{
    padding-top:2rem;
    font-size: 3rem;
}

.line{
    border-bottom:1px solid #ffffff;
    width:7rem;
    display: inline-block;
    position:relative;
    top:-.5rem;
}

.white_color{
    color:#ffffff;
}

.grey_color{
    color:grey;
}

/* top right div for home page */

#index_topright_div{
    height: 53.6rem;
    width:calc(100%/2);   
    display: inline-block;
    float:left;
    background-color:#FFC300;
}

#index_topright_div > div{
    width:calc(100%/2);
    display: inline-block;
    float:left;
    font-family: "muli";
    font-size: 1.6rem;
}

#index_topright_div > div > p{
    margin:0;
    line-height:2.5rem;
}

#index_topright_div > div > img{
    width:100%;
}

#truch_sketch_image{
    position: relative;
    top:-.4rem;
    height: 27.6rem;
}

.sando_font{
    font-size: 3.6rem;
    padding:1rem 0 1rem 0;
}
#plus{
    padding:2rem 0 2rem 0;
}

/* index page, section right above the footer */

#index_contact_section{
    height:auto;
    width:100%;
    font-family: muli;
}

#index_contact_section > div{
    width:117rem;
    display: inline-block;
}

#index_contact_section > div > div{
    width:calc(100%/3);
    display: inline-block;
    float: left;
}

.color_orange{
    color:#ffc300;
    font-size: 2.1rem;
    font-weight: 500;
}

.fontawesome_size{
    font-size: 1.8rem;
    line-height: 1.75;
    color:grey;
}

/* short grey line in the social media section at the bottom of home page */

hr{
    width:2.5rem;
}

/* home page footer */


#index_footer{
    background-image:url(http://i.imgur.com/Y8oCeDm.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25rem;
    width;100%;
    display: block;
    margin:0 auto;
    background-color:grey;
    background-blend-mode: multiply;
    opacity: .9;
}

#index_footer > div{
    width:100%;
    display: inline-block
}

#footer_div1{
    display: inline-block;
    float:left;
    width:25%;
    position:relative;
    top:9rem;
}

#footer_div1 p:nth-child(1){
    font-family: "pacifico";
    font-size:3.6rem;
    color:#ffffff;
    padding: 0;
    margin: 0;
    font-weight: 600;
}

#footer_div1 p:nth-child(2){
    font-family:"muli";
    font-size:1.6rem;
    color:#ffc300;
    font-weight: 600;
    padding: 0;
    margin:0;
}

#footer_div2{
    display:inline-block;
    float:right;
    position:relative;
    top:10rem;
    left:-8rem;
}

#footer_div2 > p{
    font-family: "muli";
    font-size: 2.6rem;
    font-weight: 600;
    color:#ffffff;
}

/* start menu/locations subpage sf bistro */

#sf_bistro_image_section > div:nth-child(2){
    display: block;
    background-image:url(http://i.imgur.com/MhI9E4K.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh;
    width: 100%;
}

#sf_bistro_label{
    width:70rem;
    display: inline-block;
    position: relative;
    top:16rem;
}

#sf_bistro_label p:nth-child(1){
    color:#ffffff;
    font-family: "pacifico";
    text-transform: capitalize;
    font-size:7.2rem;
    padding:0;
    margin:0;
    font-weight: 500;
}

#sf_bistro_label p:nth-child(2){
    
}

/* start about_us page */

#about_us_topspace{
    height: 10rem;
    display: block;
    
}

#about_us_image_section > div:nth-child(2){
    display: block;
    background-image:url(http://i.imgur.com/XAMhlhA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh;
    width: 100%;
}

#about_us_label{
    width:50rem;
    display: inline-block;
    position: relative;
    top:16rem;
}

#about_us_label p{
    color:#ffffff;
    font-family: "pacifico";
    text-transform: capitalize;
    font-size:7.2rem;
    padding:0;
    margin:0;
    font-weight: 500;
}

#about_us_main{
    margin:0 auto;
    display: block;
}

#about_us_main > div{
    width:117rem;
    display: inline-block;
    text-align: left;
    font-size: 1.6rem;
    font-family: "muli";
    color:#525252;
    margin: 5rem 0 4rem 0;
    white-space: normal;
}

#about_us_leftdiv{
    width:100%;
    display: inline-block;
    float:left;
}

#about_us_leftdiv img{
    width:50%;
    display: inline-block;
    float: left;
    margin-right:2rem;
}

#about_us_paragraph{
    line-height: 3.5rem;
    padding-top:2rem
}

#about_us_adventure{
    font-weight: 500;
    font-size: 3.6rem;
    color:#BCCF3D;
    width: auto;
    display: inline;
    
}

#about_us_animation_section{
    display: block;
    width: auto;
    height: 60rem;
    background-color:#BCCF3D;
    font-family: "muli";
    white-space: nowrap;
}

#about_us_awards{
    font-size: 7.2rem;
    font-family: "pacifico";
    color: #ffffff;
    width:100%;
    margin: 9rem 0 1rem 0;
}

.about_us_animation_images{
    width: 40rem;
    display: inline-block;
    height: 45rem;
}

.about_us_animation_images > div{
    background-color: #ffffff;
    width:94%;
    display: inline-block;
    height: 100%;
    margin:0 auto;
}

.animation_images{
    width:100%;
    height: 25rem;
}

.animation_a_tag{
    color:#ffc300;
    display: block;
    font-size:2.4rem;
    font-weight: 500;
    margin:2rem 0 2rem 0;
    width: 60%;
    
}

.animation_p{
    color:#525252;
    font-size: 1.4rem;
    width:90%;
    margin-left: 1rem;
}

/* end about_us page */

/* start contact_us page */


#contact_us_header{
    height:10rem;
    margin:0 auto;
    display: block;
    position:fixed;
    background-color:#ffffff;
    width:100%;
    z-index: 1;
}

#dustybuns_icon{
    display: inline-block;
    float: left;
    font-family:"pacifico";
    font-size:3.6rem;
    font-weight: 700;
    margin:2rem 0 0 3rem;
    width:20rem;
        
}

#contact_us_navbar{
    width:91rem;
    height:auto;
    margin:0 auto;
    display: inline-block;
    float: left;
}

#contact_us_navbar > ul{
    list-style: none;
    padding:0;
    margin:0;
    width: 100%;
    display:inline-block;
    position: relative;
    top:2rem;
}

#contact_us_navbar > ul > li{
    display: inline-block;
    float:left;
}

#contact_us_navbar > ul > li:nth-child(1){
    width:10%;
}

#contact_us_navbar > ul > li:nth-child(2){
    width:25%;
}

#contact_us_navbar > ul > li:nth-child(3){
    width:17%;
}

#contact_us_navbar > ul > li:nth-child(4){
    width:15%;
}

#contact_us_navbar > ul > li:nth-child(5){
    width:18%;
}

#contact_us_navbar > ul > li:nth-child(6){
    width:15%;
}

#contact_us_navbar > ul > li:nth-child(1) > a{
    width:8rem;
    height:6rem;
    display: inline-block;
}

#contact_us_navbar > ul > li:nth-child(2) > a{
    width:17rem;
    height: 6rem;
    display: inline-block;
}

#contact_us_navbar > ul > li:nth-child(3) > a{
    width:11rem;
    height: 6rem;
    display: inline-block;
}

#contact_us_navbar > ul > li:nth-child(4) > a{
    width:10rem;
    height: 6rem;
    display: inline-block;
}

#contact_us_navbar > ul > li:nth-child(5) > a{
    width:12rem;
    height: 6rem;
    display: inline-block;
}

#contact_us_navbar > ul > li:nth-child(6) > a{
    width:10rem;
    height: 6rem;
    display: inline-block;
}


#contact_us_navbar > ul > li > a{
    text-decoration: none;
    color:#000000;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 700;
    font-size:1.6rem;
    letter-spacing: 1px;
    border-radius: 4px;
    transition:.5s;
}

#contact_us_navbar > ul > li > a:hover{
    color:#BCCF3D;
}

#contact_us_main{
    display: block;
    margin:0 auto;
    width: 100%;
    height: auto;
    
}

#contact_us_title{
    display: inline-block;
    width:auto;
    margin:11rem 0 0 0;
    font-size: 7.2rem;
    font-family: "pacifico";
    color: #FFC300;
    padding: 0;
}

#googlemap_div{
    display: block;
    width:auto;
    margin:0 auto;
    height: auto;
}

#googlemap_div > div{
    width:110rem;
    display: inline-block;
    margin-bottom: 10rem;
}

/* end contact_us page */

/* start careers page */

#careers_image_section{
    display: block;
    background-image:url(http://i.imgur.com/CE4L2bl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#careers_label{
    width:50rem;
    display: inline-block;
    position: relative;
    top:16rem;
}

#careers_label p:nth-child(1){
    color:#BCCF3D;
    font-family: "pacifico";
    text-transform: capitalize;
    font-size:7.2rem;
    padding:0;
    margin:0;
    font-weight: 500;
}

#careers_label p:nth-child(2){
    color:#ffffff;
    font-family: "muli";
    font-size:1.6rem;
    padding:0;
    margin:0;
}

#careers_main{
    margin:0 auto;
    display: block;
}

#careers_main > div{
    width:117rem;
    display: inline-block;
    text-align: left;
    font-size: 1.8rem;
    font-family: "muli";
    color:#525252;
    margin: 2rem 0 9rem 0;
}

#careers_leftdiv{
    width:75%;
    display: inline-block;
    float:left;
}

#careers_leftdiv p{
    width:97%;
}

#careers_paragraph{
    line-height: 3.5rem;
    padding-top:2rem
}

#careers_skills{
    font-weight: 500;
    font-size: 3.3rem;
    color:#BCCF3D;
}

#careers_lastline{
    padding-top:3rem;
}

#careers_rightdiv{
    width:25%;
    display: inline-block;
}

#careers_rightdiv p{
    width:90%;
    margin-left:1.5rem;
}

.careers_cook{
    color:#BCCF3D;
    font-size: 4.8rem;
    font-weight: 500;
    font-family: "pacifico";
    margin:0;
}

.careers_line{
    border-bottom: 1px solid #BCCF3D;
    padding-top:1.5rem;
}

/* copied and pasted menu and catering dropdowns to career page and making necessary adjustments to match the rest of the items on the navbar */

#careers_label_menu{
    text-decoration: none;
    color:black;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 700;
    font-size:1.6rem;
    letter-spacing: 1px;
    border-radius: 4px;
    transition:.5s;
    display: inline-block;
    height: 6rem;
    width:20rem;
}

#careers_label_menu:hover{
    color:#BCCF3D;
}

#navbar > ul > li > a:hover{
    background-color:#BCCF3D;
}

.index_span_position{
    position:relative;
    top:2rem;
}

#careers_menu_dropdown{
    background-color:#ffffff;
    width:18rem;
    height: 14rem;
    font-weight: 400;
    color:#525252;
    font-size:1.4rem;
    margin:0 auto;
    display: none;
    position:relative;
    top:1.5rem;
    left:-3rem;
    font-family: "muli";
    z-index: 1;
}

#careers_menu_dropdown p{
    display: inline-block;
    width:100%;
    text-align: left;
    height: calc(100%/3);
    margin:0;
    
}

#careers_menu_dropdown p a{
    display: block;
    height: 100%;
    width:100%;
}

.menu_p a:hover{
    background-color:#BCCF3D;
}

#careers_menu_dropdown p a span{
    padding-left:2rem;
    position:relative;
    top:1.5rem;
}

#careers_input_menu{
    display: none;
}

#careers_input_menu:checked + #careers_menu_dropdown{
    display: block;
}

/* dropdown for catering pages */

#careers_label_menu2{
    text-decoration: none;
    color:black;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 700;
    font-size:1.6rem;
    letter-spacing: 1px;
    border-radius: 4px;
    transition:.5s;
    display: inline-block;
    height: 6rem;
    width:12rem;
}

#careers_label_menu2:hover{
    color:#BCCF3D;
}

#careers_catering_dropdown{
    background-color:#ffffff;
    width:28rem;
    height: 14rem;
    font-weight: 400;
    color:#525252;
    font-size:1.4rem;
    margin:0 auto;
    display: none;
    position:relative;
    top:1.5rem;
    font-family: "muli";
    z-index: 1;
}

#careers_catering_dropdown p{
    display: inline-block;
    width:100%;
    text-align: left;
    height: calc(100%/3);
    margin:0;
    
}

#careers_catering_dropdown p a{
    display: block;
    height: 100%;
    width:100%;
}

.menu_p a:hover{
    background-color:#BCCF3D;
}

#careers_catering_dropdown p a span{
    padding-left:2rem;
    position:relative;
    top:1.5rem;
}

#careers_input_menu2{
    display: none;
}

#careers_input_menu2:checked + #careers_catering_dropdown{
    display: block;
    
}

/* end careers page */

/* start cook page */


#cook_image_section{
    display: block;
    background-image:url(http://i.imgur.com/tdWrgYt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#cook_label{
    width:50rem;
    display: inline-block;
    position: relative;
    top:16rem;
}

#cook_label p:nth-child(1){
    color:#BCCF3D;
    font-family: "pacifico";
    text-transform: capitalize;
    font-size:7.2rem;
    padding:0;
    margin:0;
    font-weight: 500;
}

#cook_label p:nth-child(2){
    color:#ffffff;
    font-family: "muli";
    font-size:1.6rem;
    padding:0;
    margin:0;
}

#cook_main{
    margin:0 auto;
    display: block;
    background-image:url(http://i.imgur.com/uftudsk.png);
}

#cook_main > div{
    width:117rem;
    display: inline-block;
    text-align: left;
    font-size: 1.8rem;
    font-family: "muli";
    color:#525252;
    margin: 6rem 0 9rem 0;
}

#cook_leftdiv{
    width:75%;
    display: inline-block;
    float:left;
    margin-top:3rem;
}

#cook_ul{
    line-height: 2.9rem;
}

#cook_nobullet{
    list-style: none;
}

#cook_leftdiv p{
    width:97%;
}

.cook_paragraph{
    line-height: 3.5rem;
    padding-top:2rem
}

#cook_skills{
    font-weight: 500;
    font-size: 3.3rem;
    color:#BCCF3D;
}

#cook_lastline{
    padding-top:3rem;
    font-weight: 700;
}

#cook_rightdiv{
    width:25%;
    display: inline-block;
}

#cook_rightdiv p{
    width:90%;
    margin-left:1.5rem;
}

.cook_cook{
    color:#BCCF3D;
    font-size: 4.8rem;
    font-weight: 500;
    font-family: "pacifico";
    margin:0;
}

.cook_line{
    border-bottom: 1px solid #BCCF3D;
    padding-top:1.5rem;
}

/* end cook page */

/* no css for cashier page because it is almost identical to cook page */




/*

images:

bun w pictures:  http://i.imgur.com/2Ry99yX.jpg

jeep:  http://i.imgur.com/94ZsG77.jpg

side view:  http://i.imgur.com/j2Yjg6a.jpg

red leaf:  http://i.imgur.com/Y8oCeDm.jpg

taco truck sketch  http://i.imgur.com/WXNnYJE.jpg

hand peace sign:  http://i.imgur.com/qhhLyaj.jpg

hamburger:  http://i.imgur.com/zlwZhA7.jpg

taco truch front:  http://i.imgur.com/KoM7MHG.jpg

fork n knife:  http://i.imgur.com/bUGnrIN.png


*/