html, body{
    margin:0;
    padding:0;
    font-size:62.5%;
    box-sizing:border-box;
}

a{
    text-decoration: none;
    color:inherit;
}

body{
    height:auto;
    width:100%;
    text-align: center;
    font-size:2rem;
    font-family: serif;
    margin:0 auto;
    display: block;
}

#index_input_navbar{
        display: none;
    }
#index_hamburger{
    display: none;
}

header{
    height: auto;
}

#navbar{
    width:100%;
    height:auto;
    margin:0 auto;
    display: block;
}

#navbar > ul{
    list-style: none;
    padding:0;
    margin:0;
    width: 70%;
    display:inline-block;
    position: absolute;
    top:4rem;
    left:20rem;
    height: auto;
    
}

#navbar > ul > li{
    display: inline-block;
    float:left;
}

#navbar > ul > li:nth-child(1){
    width:10%;
}

#navbar > ul > li:nth-child(2){
    width:25%;
}

#navbar > ul > li:nth-child(3){
    width:17%;
}

#navbar > ul > li:nth-child(4){
    width:15%;
}

#navbar > ul > li:nth-child(5){
    width:18%;
}

#navbar > ul > li:nth-child(6){
    width:15%;
}

#navbar > ul > li:nth-child(1) > a{
    width:8rem;
    height:6rem;
    display: inline-block;
}

#navbar > ul > li:nth-child(2) > a{
    width:17rem;
    height: 6rem;
    display: inline-block;
}

#navbar > ul > li:nth-child(3) > a{
    width:11rem;
    height: 6rem;
    display: inline-block;
}

#navbar > ul > li:nth-child(4) > a{
    width:10rem;
    height: 6rem;
    display: inline-block;
}

#navbar > ul > li:nth-child(5) > a{
    width:12rem;
    height: 6rem;
    display: inline-block;
}

#navbar > ul > li:nth-child(6) > a{
    width:10rem;
    height: 6rem;
    display: inline-block;
}


#navbar > ul > li > a{
    text-decoration: none;
    color:#ffffff;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 700;
    font-size:1.6rem;
    text-shadow:1px 1px 5px #000000;
    letter-spacing: 1px;
    border-radius: 4px;
    transition:.5s;
}

/* dropdown for menu/location pages */

#label_menu{
    text-decoration: none;
    color:#ffffff;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 700;
    font-size:1.6rem;
    text-shadow:1px 1px 5px #000000;
    letter-spacing: 1px;
    border-radius: 4px;
    transition:.5s;
    display: inline-block;
    height: 6rem;
    width:20rem;
}

#label_menu:hover{
    background-color:#BCCF3D;
}

#navbar > ul > li > a:hover{
    background-color:#BCCF3D;
}

.index_span_position{
    position:relative;
    top:2rem;
}

#menu_dropdown{
    background-color:#ffffff;
    width:18rem;
    height: 14rem;
    font-weight: 400;
    color:#525252;
    font-size:1.4rem;
    margin:0 auto;
    display: none;
    position:relative;
    top:1.5rem;
    left:-3rem;
    font-family: "muli";
    z-index: 1;
}

#menu_dropdown p{
    display: inline-block;
    width:100%;
    text-align: left;
    height: calc(100%/3);
    margin:0;
    
}

#menu_dropdown p a{
    display: block;
    height: 100%;
    width:100%;
}

.menu_p a:hover{
    background-color:#BCCF3D;
}

#menu_dropdown p a span{
    padding-left:2rem;
    position:relative;
    top:1.5rem;
}

#input_menu{
    display: none;
}

#input_menu:checked + #menu_dropdown{
    display: block;
}

/* dropdown for catering pages */

#label_menu2{
    text-decoration: none;
    color:#ffffff;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 700;
    font-size:1.6rem;
    text-shadow:1px 1px 5px #000000;
    letter-spacing: 1px;
    border-radius: 4px;
    transition:.5s;
    display: inline-block;
    height: 6rem;
    width:12rem;
}

#label_menu2:hover{
    background-color:#BCCF3D;
}

#navbar > ul > li > a:hover{
    background-color:#BCCF3D;
}

.index_span_position{
    position:relative;
    top:2rem;
}

#catering_dropdown{
    background-color:#ffffff;
    width:28rem;
    height: 14rem;
    font-weight: 400;
    color:#525252;
    font-size:1.4rem;
    margin:0 auto;
    display: none;
    position:relative;
    top:1.5rem;
    font-family: "muli";
    z-index: 1;
}

#catering_dropdown p{
    display: inline-block;
    width:100%;
    text-align: left;
    height: calc(100%/3);
    margin:0;
    
}

#catering_dropdown p a{
    display: block;
    height: 100%;
    width:100%;
}

.menu_p a:hover{
    background-color:#BCCF3D;
}

#catering_dropdown p a span{
    padding-left:2rem;
    position:relative;
    top:1.5rem;
}

#input_menu2{
    display: none;
}

#input_menu2:checked + #catering_dropdown{
    display: block;
    
}


#label_section{
    display: block;
    background-image:url(http://i.imgur.com/zlwZhA7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#dustybuns_label{
    width:50rem;
    display: inline-block;
    position: relative;
    top:21rem;
    height: 20rem;
}

#dustybuns_label p:nth-child(1){
    color:#ffffff;
    font-family: "pacifico";
    text-transform: capitalize;
    font-size:7.2rem;
    padding:0;
    margin:0;
}

#dustybuns_label p:nth-child(2){
    color:#ffffff;
    font-family: "muli";
    text-transform: capitalize;
    font-size:4.1rem;
    padding:0;
    margin:0;
}

#welcome > p:nth-child(1){
    font-family: "pacifico";
    font-size:7.2rem;
    color: #ffc300;
    padding: 0;
    margin:6rem 0 1rem 0;
}

#welcome > p:nth-child(2) img{
    width:17rem;
}

#welcome > p:nth-child(3){
    font-family: "muli";
    font-size: 1.8rem;
    width: 70%;
    display: inline-block;
    margin-bottom: 20rem;
    line-height:3rem;
}

#board_image{
    background-image:url(http://i.imgur.com/kp1S7UB.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80rem;
    
}

#index_photos{
    width:117rem;
    display: inline-block;
    position: relative;
    top:-94rem;
    height: 18rem;
}

#topleft_div{
    height: 53.6rem;
    width:calc(100%/2);
    display: inline-block;
    float:left;
}

#topleft_div > div:nth-child(1){
    width:calc(100%/2);
    display:inline-block;
    float: left;
}

#topleft_div > div:nth-child(1) > img{
    width:100%;
    height: 53.6rem;
}

#topleft_div > div:nth-child(2){
    width:calc(100%/2);
    display:inline-block;
    height: 100%;
    background-color:#BCCF3D;
    font-family: "muli";
    font-size: 1.6rem;
}

#topleft_div > div:nth-child(2) > p{
    margin:0;
    line-height:2.5rem;
}

.fontawesome_icons{
    padding-top:2rem;
    font-size: 3rem;
}

.line{
    border-bottom:1px solid #ffffff;
    width:7rem;
    display: inline-block;
    position:relative;
    top:-.5rem;
}

.white_color{
    color:#ffffff;
}

.grey_color{
    color:grey;
}

/* top right div for home page */

#index_topright_div{
    height: 53.6rem;
    width:calc(100%/2);   
    display: inline-block;
    float:left;
    background-color:#FFC300;
}

#index_topright_div > div{
    width:calc(100%/2);
    display: inline-block;
    float:left;
    font-family: "muli";
    font-size: 1.6rem;
}

#index_topright_div > div > p{
    margin:0;
    line-height:2.5rem;
}

#index_topright_div > div > img{
    width:100%;
}

#truch_sketch_image{
    position: relative;
    top:-.4rem;
    height: 27.6rem;
}

.sando_font{
    font-size: 3.6rem;
    padding:1rem 0 1rem 0;
}
#plus{
    padding:2rem 0 2rem 0;
}

/* index page, section right above the footer */

#index_contact_section{
    height:auto;
    width:100%;
    font-family: muli;
}

#index_contact_section > div{
    width:117rem;
    display: inline-block;
}

#index_contact_section > div > div{
    width:calc(100%/3);
    display: inline-block;
    float: left;
}

.color_orange{
    color:#ffc300;
    font-size: 2.1rem;
    font-weight: 500;
}

.fontawesome_size{
    font-size: 1.8rem;
    line-height: 1.75;
    color:grey;
}

/* short grey line in the social media section at the bottom of home page */

hr{
    width:2.5rem;
}

/* home page footer */


#index_footer{
    background-image:url(http://i.imgur.com/Y8oCeDm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    width;100%;
    display: block;
    margin:0 auto;
    background-color:grey;
    background-blend-mode: multiply;
    opacity: .9;
}

#index_footer > div{
    width:100%;
    display: inline-block;
}

#footer_div1{
    display: inline-block;
    float:left;
    width:25%;
    position:relative;
    top:9rem;
}

#footer_div1 p:nth-child(1){
    font-family: "pacifico";
    font-size:3.6rem;
    color:#ffffff;
    padding: 0;
    margin: 0;
    font-weight: 600;
}

#footer_div1 p:nth-child(2){
    font-family:"muli";
    font-size:1.6rem;
    color:#ffc300;
    font-weight: 600;
    padding: 0;
    margin:0;
}

#footer_div2{
    display:inline-block;
    float:right;
    position:relative;
    top:10rem;
    left:-8rem;
}

#footer_div2 > p{
    font-family: "muli";
    font-size: 2.6rem;
    font-weight: 600;
    color:#ffffff;
}

#kao_label{
    display: none;
}
#kao_input{
    display: none;
}


/* index page media query max-width 1200px, changing div size to home page middle section */

@media only screen and (max-width:1200px){
    
    #board_image{
    background-image:url(http://i.imgur.com/kp1S7UB.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 55rem;
    
}
    
    #index_photos{
    width:90rem;
    position: relative;
    top:-67rem;
}

#topleft_div{
    height: 40rem;
    width:calc(100%/2);
    display: inline-block;
    float:left;
}

#topleft_div > div:nth-child(1){
    width:calc(100%/2);
    display:inline-block;
    float: left;
    height: 100%
}

#topleft_div > div:nth-child(1) > img{
    width:100%;
    height: 100%;
}

#topleft_div > div:nth-child(2){
    width:calc(100%/2);
    display:inline-block;
    height: 100%;
    background-color:#BCCF3D;
    font-family: "muli";
    font-size: 1.6rem;
}

#topleft_div > div:nth-child(2) > p{
    width: 90%;
    line-height: 2rem;
    display: inline-block
}

.line{
    width:5rem;
}

/* top right div for home page */

#index_topright_div{
    height: 40rem; 
}

#index_topright_div > div{
    height: 50%;
}

#index_topright_div > div > p{
    line-height:1.5rem;
    width:90%;
    display: inline-block;
}

#index_topright_div > div > img{
    width:100%;
    height: 20rem;
}

#truch_sketch_image{
    position: relative;
    top:0rem;
}

.sando_font{
    font-size: 2.6rem;
}
#plus{
    padding:1rem 0 1rem 0;
}

    
/* index page, section right above the footer */

#index_contact_section > div{
    width:80rem;
    margin-bottom: 3rem;
}

.color_orange{
    font-size: 2rem;
}

.fontawesome_size{
    font-size: 1.5rem;
}


    
    
}

/* index page media query max-width 1150px */

@media only screen and (max-width:1150px){
    

 /* adjusted navbar to become a dropdown */
    
    
    
    #kao_label{
        font-size:4rem;
        position:absolute;
        z-index: 1;
        color: black;
        float: left;
        display: inline-block;
        width: 10%;
        top:0;
        right: 102rem;
        color:white;
        
    }
    
    #kao_label > i{
        position:relative;
        top:0;
        left:100rem
    }
    
    #kao_input{
        display: none;
    }
    
    #kao_input:checked + #index_header{
        display: block;
    }
    
    
    
    #index_header{
        height: auto;
        display: none;
    }
    
#navbar{
    height:auto;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
/*background-color: #BCCF3D;*/
    
#navbar > ul{
    width: 100%;
    left:0rem;
    height:auto;
    display: inline-block;
    margin:0 auto;
    position: relative;
    top: 0rem;
    padding:5rem 0 2rem 0;
    background-color: #BCCF3D
}

#navbar > ul > li{
    display: inline-bfloat;
    float:none;
}

#navbar > ul > li:nth-child(1){
    width:100%;
    display: inline-block;
    border-top:1px solid black;
}

#navbar > ul > li:nth-child(2){
    width:100%;
}

#navbar > ul > li:nth-child(3){
    width:100%;
}

#navbar > ul > li:nth-child(4){
    width:100%;
}

#navbar > ul > li:nth-child(5){
    width:100%;
}

#navbar > ul > li:nth-child(6){
    width:100%;
}
    

#footer_div1{
    width:22%;
}

#footer_div2{
    left:-2.5rem;
}

#footer_div2 > p{
    font-family: "muli";
    font-size: 2.5rem;
}
    
}


/*  index page media query at 991px */

@media only screen and (max-width:991px){
    
    
    
#index_contact_section > div{
    width:100%;
}

#index_contact_section > div > div{
    width:100%;
}
    
    
#footer_div1{
    width:21%;
}
    
    #footer_div1 > p:nth-child(1){
        font-size: 2.8rem;
    }
    
    #footer_div1 > p:nth-child(2){
        font-size: 1.4rem;
    }

#footer_div2 > p{
    font-family: "muli";
    font-size: 2.1rem;
}
    
    
}

/*  index page media query at 920px */

@media only screen and (max-width:920px){
    
      #board_image{
    height: 50rem;
    
}
    
    #index_photos{
    width:70rem;
    position: relative;
    top:-60rem;
}

#topleft_div{
    height: 35rem;
}
    
    #topleft_div > div:nth-child(2) > p{
    width: 90%;
    line-height: 1.5rem;
    display: inline-block;
    font-size: 1.3rem
}

/* top right div for home page */

#index_topright_div{
    height: 35rem; 
}

#index_topright_div > div > p{
    font-size:1.3rem;
    width:90%;
    display: inline-block;
}

#index_topright_div > div > img{
    width:100%;
    height: 17.5rem;
}
    
}

/*  index page media query at 767px */

@media only screen and (max-width:767px){
    
    
#dustybuns_label{
    width:90%;
    position: relative;
    top:20rem;
    height: 18rem;
}

#dustybuns_label p:nth-child(1){
    font-size:6.2rem;
    width:100%;
}

#dustybuns_label p:nth-child(2){
    font-size:3.1rem;
    width:100%;
}
    
    #welcome > p:nth-child(1){
    font-size:4.8rem;
    margin:4rem 0 1rem 0;
}

    #board_image{
        display: none;
    }
    
#index_photos{
    width:100%;
    position: relative;
    top:-9rem;
    height: auto;
}

#topleft_div{
    height: auto;
    width:100%;
    background-color: #BCCF3D;
}

#topleft_div > div:nth-child(1){
    height: auto;
}

#topleft_div > div:nth-child(1) > img{
    width:100%;
    height: auto;
}

#topleft_div > div:nth-child(2){
    width:calc(100%/2);
    display:inline-block;
    
    height: auto;
}

#topleft_div > div:nth-child(2) > p{
    line-height:2.7rem;
}

.fontawesome_icons{
    padding-top:2rem;
}

/* top right div for home page */

#index_topright_div{
    height: auto;
    width:100%;   
}

#index_topright_div > div{
    height:auto;
}

#index_topright_div > div > p{
    line-height:2.7rem;
}

#index_topright_div > div > img{
    width:100%;
    height: 100%;
}

#truch_sketch_image{
    position: relative;
    top:0rem;
}

.sando_font{
    font-size: 3.6rem;
    padding:.5rem 0 .5rem 0;
}
#plus{
    padding:0;
}
    
      
#index_footer{
    background-image:url(http://i.imgur.com/Y8oCeDm.jpg);
    background-repeat: no-repeat;
    height: 25rem;
    width;100%;
    display: block;
    margin:0 auto;
    background-color:grey;
    background-blend-mode: multiply;
    opacity: .9;
}

#index_footer > div{
    width:100%;
    display: inline-block;
    height: 25rem;
}
    
    
#footer_div1{
    width:17rem;
}
    
    #footer_div1 > p:nth-child(1){
        font-size: 2.5rem;
    }
    
    #footer_div1 > p:nth-child(2){
        font-size: 1.2rem;
    }

    #footer_div2{
        width:42rem;
    left:-1rem;
    }
    
#footer_div2 > p{
    font-size: 1.5rem;
}

    
}


/*  index page media query at 630px */

@media only screen and (max-width:630px){
    
    #footer_div2{
        width:80%;
        left:0rem;
        float:left;
        text-align: left;
        padding-left: 1.5rem;
    }
    
    
}

/*  index page media query at 478px */

@media only screen and (max-width:478px){
    

#topleft_div > div:nth-child(2) > p{
    line-height:1.7rem;
    font-size: .9rem;
}

.fontawesome_icons{
    padding-top:1rem;
    font-size: 1.8rem;
}

/* top right div for home page */


    #index_topright_div > div{
    height:20rem;
}
    
    #index_topright_div > div > img{
    width:100%;
    height: 100%;
}
    
#index_topright_div > div > p{
    line-height:1.7rem;
    font-size: .9rem;
}

.sando_font{
    font-size: 2.6rem;
    padding:0;
}
#plus{
    padding:0;
}

    
    
}


/* index page media query max-width at 910px, background image doesn't shrink but is fixed and center of image stays centered  */

/* end of index page */

/* start menu/locations subpage sf bistro */

#sf_bistro_image_section > div:nth-child(2){
    display: block;
    background-image:url(http://i.imgur.com/MhI9E4K.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh;
    width: 100%;
}

#sf_bistro_label{
    width:70rem;
    display: inline-block;
    position: relative;
    top:16rem;
}

#sf_bistro_label p:nth-child(1){
    color:#ffffff;
    font-family: "pacifico";
    text-transform: capitalize;
    font-size:7.2rem;
    padding:0;
    margin:0;
    font-weight: 500;
}

#sf_bistro_label p:nth-child(2){
    font-size: 1.8rem;
    font-family: "muli";
    color:#ffffff;
}

#sf_bistro_main{
    height: auto;
    
}

#sf_bistro_main > div{
    height:auto;
    width:117rem;
    margin:0 auto;
    color: #525252;
    font-family: "muli";
}

#sf_bistro_left_div{
    width:25%;
    display: inline-block;
    float: left;
    height: auto;
    
}

#sf_bistro_left_div > div{
    width:90%;
    display: inline-block;
}

#sf_bistro_map{
    overflow: hidden;
}

.sf_bistro_hours{
    font-size: 4.8rem;
    font-weight: 500;
}

.sf_bistro_line{
    border:1px solid #bccf3d;
}

.opacity{
    opacity:.8;
}

#sf_bistro_right_div{
    width:75%;
    display: inline-block;
    height: auto;
}

#sf_bistro_right_div > div{
    width:96%;
    display: inline-block;
    height: auto;
}

/* dropdowns for right div in main section:  all, sandwiches, etc.. */


#menu_topics_hidden p{
    display: none;
}

#sf_bistro_nav{
    height: 27rem;
}

#sf_bistro_nav > ul{
    list-style: none;
    padding: 0;
    margin:0;
    height: 100%;
}

#sf_bistro_nav > ul > li{
    width:calc(100%/5);
    height: 100%;
    display: inline-block;
    float: left;
}

#sf_bistro_nav > ul > li:nth-child(1){
    width:18%;
}

#sf_bistro_nav > ul > li:nth-child(2){
    width:22%;
}

#sf_bistro_nav > ul > li:nth-child(3){
    width:20%;
}

#sf_bistro_nav > ul > li:nth-child(4){
    width:20%;
}

#sf_bistro_nav > ul > li:nth-child(5){
    width:20%;
}


/* ALL label */

#all_label{
    text-decoration: none;
    color:#ffffff;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 700;
    font-size:1.8rem;
    letter-spacing: 1px;
    transition:.2s;
    display: inline-block;
    height: 100%;
    width:100%;
    background-color:#BCCF3D;
}

.sf_bistro_fontawesome{
    font-size:4rem;
    padding-top: 5rem
}

.short_line{
    border-bottom: 1px solid white;
    width:3.5rem;
    display: inline-block;
}

#all_label:hover{
    background-color:#ffffff;
    color:black;
}

#all_label > span{
    margin:0;
    padding:0;
}

#all_dropdown{
    background-color:#000000;
    width:28rem;
    height: 14rem;
    font-weight: 400;
    color:#525252;
    font-size:1.4rem;
    margin:0 auto;
    display: none;
    position:relative;
    top:1.5rem;
    font-family: "muli";
    z-index: 1;
}

#all_dropdown p{
    display: inline-block;
    width:100%;
    text-align: left;
    height: calc(100%/3);
    margin:0;
    
}

#all_dropdown p a{
    display: block;
    height: 100%;
    width:100%;
}

#all_dropdown p a span{
    padding-left:2rem;
    position:relative;
    top:1.5rem;
}

#all_input{
    display: none;
}

#all_input:checked + #all_dropdown{
    display: block;
    
}

/* sandwiches label */


#sandwiches_label{
    text-decoration: none;
    color:#ffffff;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 700;
    font-size:1.8rem;
    letter-spacing: 1px;
    transition:.2s;
    display: inline-block;
    height: 100%;
    width:100%;
    background-color:#BCCF3D;
}

#sandwiches_label:hover{
    background-color:#ffffff;
    color:black;
}

#sandwiches_dropdown{
    background-color:#000000;
    width:28rem;
    height: 14rem;
    font-weight: 400;
    color:#525252;
    font-size:1.4rem;
    margin:0 auto;
    display: none;
    position:relative;
    top:1.5rem;
    font-family: "muli";
    z-index: 1;
}

#sandwiches_dropdown p{
    display: inline-block;
    width:100%;
    text-align: left;
    height: calc(100%/3);
    margin:0;
    
}

#sandwiches_dropdown p a{
    display: block;
    height: 100%;
    width:100%;
}

#sandwiches_dropdown p a span{
    padding-left:2rem;
    position:relative;
    top:1.5rem;
}

#sandwiches_input{
    display: none;
}

#sandwiches_input:checked + #sandwiches_dropdown{
    display: block;
    
}

/* sides label */


#sides_label{
    text-decoration: none;
    color:#ffffff;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 700;
    font-size:1.8rem;
    letter-spacing: 1px;
    transition:.2s;
    display: inline-block;
    height: 100%;
    width:100%;
    background-color:#BCCF3D;
}

#sides_label:hover{
    background-color:#ffffff;
    color:black;
}

#sides_dropdown{
    background-color:#000000;
    width:28rem;
    height: 14rem;
    font-weight: 400;
    color:#525252;
    font-size:1.4rem;
    margin:0 auto;
    display: none;
    position:relative;
    top:1.5rem;
    font-family: "muli";
    z-index: 1;
}

#sides_dropdown p{
    display: inline-block;
    width:100%;
    text-align: left;
    height: calc(100%/3);
    margin:0;
    
}

#sides_dropdown p a{
    display: block;
    height: 100%;
    width:100%;
}

#sides_dropdown p a span{
    padding-left:2rem;
    position:relative;
    top:1.5rem;
}

#sides_input{
    display: none;
}

#sides_input:checked + #sides_dropdown{
    display: block;
    
}

/* dessert label */


#dessert_label{
    text-decoration: none;
    color:#ffffff;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 700;
    font-size:1.8rem;
    letter-spacing: 1px;
    transition:.2s;
    display: inline-block;
    height: 100%;
    width:100%;
    background-color:#BCCF3D;
}

#dessert_label:hover{
    background-color:#ffffff;
    color:black;
}

#dessert_dropdown{
    background-color:lightblue;
    width:500%;
    height: auto;
    font-weight: 400;
    color:#525252;
    font-size:1.4rem;
    margin:0 auto;
    display: none;
    position:relative;
    top:1.5rem;
    font-family: "muli";
    z-index: 2;
    position:relative;
    top:0rem;
    right:50.6rem;
}

#dessert_input{
    display: none;
}

#dessert_input:checked + #dessert_dropdown{
    display: block;
    
}

/* drinks label */

#drinks_label{
    text-decoration: none;
    color:#ffffff;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 700;
    font-size:1.8rem;
    letter-spacing: 1px;
    transition:.2s;
    display: inline-block;
    height: 100%;
    width:100%;
    background-color:#BCCF3D;
}

#drinks_label:hover{
    background-color:#ffffff;
    color:black;
}

#drinks_dropdown{
    background-color:coral;
    width:500%;
    height: auto;
    font-weight: 400;
    color:#525252;
    font-size:1.4rem;
    margin:0 auto;
    display: none;
    position:relative;
    top:1.5rem;
    font-family: "muli";
    z-index: 1;
    position:relative;
    top:0rem;
    right:67.5rem;
    
}

#drinks_dropdown p a{
    display: block;
    height: 100%;
    width:100%;
}

#drinks_dropdown p a span{
    padding-left:2rem;
    position:relative;
    top:1.5rem;
}

#drinks_input{
    display: none;
}

#drinks_input:checked + #drinks_dropdown{
    display: block;
    
}

/* menu items for sf bistro page */

#menu_div{
    height:auto;
}

.menu_rows{
    height: 45rem;
    margin-top:3rem;
    
}

.menu_columns{
    width: calc(100%/3);
    display: inline-block;
    float: left;
    height:100%;
}

.menu_image_div{
    width:90%;
    font-size: 1.4rem;
    font-family: "muli";
    color:#525252;
    display: inline-block;
}

.menu_image{
    width:20rem;
    border:4px solid #bccf3d;
    border-radius: 50%;
    padding: 4px;
    margin-top:2rem;
}

.menu_items{
    color:#bccf3d;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top:3rem;
}

.menu_prices{
    color:#bccf3d;
    font-size: 3.2rem;
    font-weight: 400;
}

#menu_row7{
    margin-bottom: 7rem;
}

#soda_item{
    float:right;
}

/* start sf bistro page media query at 1177px max width */

@media only screen and (max-width:1177px){
    
    #sf_bistro_main > div{
    width:96rem;
}
    
}

/* start sf bistro page media query at 992px max width */

@media only screen and (max-width:992px){
    
    
    #sf_bistro_label{
        width: 100%;
        position:relative;
        top:5rem;
    }
    
    #sf_bistro_label p:nth-child(1){
        font-size:5.2rem;
}
    
    #sf_bistro_main > div{
    width:90%;
        margin: 0 auto;
}
    
    #sf_bistro_left_div{
        width:100%
    }
    
    #sf_bistro_map{
        width: 24rem;
        display: inline-block;
    }
    
    
    #sf_bistro_right_div{
        width:68rem;
    }
    
    #menu_div{
    margin-bottom: 6rem;
}

.menu_rows{
    height: auto;
    margin-top:3rem;
    
}

.menu_columns{
    width: 100%;
    display: inline-block;
    float: left;
    height:100%;
}
    
}

/* start sf bistro page media query at 767px max width */

@media only screen and (max-width:767px){
    
    #sf_bistro_right_div{
        width:96%;
    }
    
    #sf_bistro_nav{
        height: 16rem;
    }
    
    #sf_bistro_nav > ul > li:nth-child(1){
    width:20%;
}

#sf_bistro_nav > ul > li:nth-child(2){
    width:20%;
}
    
    .sf_bistro_fontawesome{
    font-size:3rem;
    padding-top: 2rem
}
    
    
    #menu_topics_hidden{
        display: inline-block;
    }
    
    #menu_topics_hidden p{
        margin:0;
        font-size:1.2rem;
    }
    
    #menu_topics_hidden p:nth-child(1){
        display: inline-block;
        width:20%;
        float: left;
    }
    
    #menu_topics_hidden p:nth-child(2){
        display: inline-block;
        width:20%;
        float: left;
    }
    
    #menu_topics_hidden p:nth-child(3){
        display: inline-block;
        width:20%;
        float: left;
    }
     #menu_topics_hidden p:nth-child(4), #menu_topics_hidden p:nth-child(5) {
        display: inline-block;
        width:calc(100%/5);
        float: left;
    }
    
    #all_label p:nth-child(2), #sandwiches_label p:nth-child(2), #sides_label p:nth-child(2), #dessert_label p:nth-child(2), #drinks_label p:nth-child(2){
        display: none;
    }
    
}

/* KAO start sf bistro page media query at 362px max width */

@media only screen and (max-width:362px){
    
    #menu_topics_hidden p{
        font-size:.9rem;
    }
    
     .sf_bistro_fontawesome{
    font-size:2.5rem;
    padding-top: 1rem
}
    
    #sf_bistro_nav{
        height: 13rem;
    }
    
    
}


/* end sf bistro page */

/* start fresno bistro page */

#fresno_bistro_image_section > div:nth-child(2){
    display: block;
    background-image:url(http://i.imgur.com/GhcQrfg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh;
    width: 100%;
}

#prices_may_vary{
    font-weight: 700;
    font-size: 2.2rem;
}


/* end fresno bistro page */

/* start about_us page */

#about_us_topspace{
    height: 10rem;
    display: block;
}

#about_us_image_section > div:nth-child(2){
    display: block;
    background-image:url(http://i.imgur.com/XAMhlhA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh;
    width: 100%;
}

#about_us_label{
    width:50rem;
    display: inline-block;
    position: relative;
    top:16rem;
}

#about_us_label p{
    color:#ffffff;
    font-family: "pacifico";
    text-transform: capitalize;
    font-size:7.2rem;
    padding:0;
    margin:0;
    font-weight: 500;
}

#about_us_main{
    margin:0 auto;
    display: block;
}

#about_us_main > div{
    width:117rem;
    display: inline-block;
    text-align: left;
    font-size: 1.6rem;
    font-family: "muli";
    color:#525252;
    margin: 0 auto;
    padding:4rem 0 4rem 0;
}

#about_us_leftdiv{
    width:100%;
    display: inline-block;
}

#about_us_leftdiv img{
    width:50%;
    display: inline-block;
    float: left;
    margin-right:2rem;
}

#about_us_paragraph{
    line-height: 3.5rem;
    padding-top:2rem;
    text-align: left;
}

#about_us_adventure{
    font-weight: 500;
    font-size: 3.6rem;
    color:#BCCF3D;
    width: auto;
    display: inline;
    
}

#about_us_animation_section{
    display: block;
    width: auto;
    height: 75rem;
    background-color:#BCCF3D;
    font-family: "muli";
    overflow: hidden;
}

#button_container{
    width:100%;
    white-space: nowrap;
    height: 100%;
}

#about_us_awards{
    font-size: 7.2rem;
    font-family: "pacifico";
    color: #ffffff;
    width:100%;
    margin: 5rem 0 2rem 0;
}

#left_button{
    width:6rem;
    height: 12rem;
    border-radius:0 10rem 10rem 0;
    background-color: rgba(0,0,0,.3);
    display: inline-block;
    float: left;
    margin-top:18.7rem;
    position: relative;
    z-index: 1;
}

#left_button:hover{
    background-color: #BCCF3D;
}

/* this attempt did not work, will retry later

@keyframes slide{
    0%{
        left: -241rem;
    }
    100%{
        left:0rem;
    }
}

#left_button:hover #slider_background{
    background-color: #BCCF3D;
    animation-name: slide;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}
*/


#left_button > span{
    position: relative;
    top:3.5rem;
    color:#ffffff;
    font-size: 4rem;
    opacity: .5;
}

#right_button{
    width:6rem;
    height: 12rem;
    border-radius:10rem 0 0 10rem;
    background-color: rgba(0,0,0,.3);
    display: inline-block;
    float:right;
    margin-top:18.7rem;
    position: relative;
    z-index: 3;
}


#right_button:hover{
    background-color: #BCCF3D;
}


@keyframes slider{
    0%{
        left: 0rem;
    }
    100%{
        left:-233rem;
    }
}

#right_button:hover + #slider_background{
    background-color: #BCCF3D;
    animation-name: slider;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
   
}




#right_button > span{
    position: relative;
    top:3.5rem;
    color:#ffffff;
    font-size: 4rem;
    opacity: .5;
}


#slider_background{
    width:324rem;
    position:relative;
    
}

.about_us_animation_images{
    width: 40rem;
    display: inline-block;
    height: 45rem;
}

.about_us_animation_images > div{
    background-color: #ffffff;
    width:94%;
    display: inline-block;
    height: 100%;
    margin:0 auto;
}

.animation_images{
    width:100%;
    height: 25rem;
}

.animation_a_tag{
    color:#ffc300;
    display: block;
    font-size:2.4rem;
    font-weight: 500;
    margin:2rem 0 2rem 3rem;
    width: 20%;
    
}

.animation_p{
    color:#525252;
    font-size: 1.4rem;
    width:20%;
    margin-left: 3rem;
}


/* start media query for about us page */

/* about us page media query at 1200px max width */

@media only screen and (max-width:1200px){
    

#about_us_main > div{
    width:100%;
    text-align: center;
    margin: 0 auto;
}

#about_us_leftdiv{
    width:90%;
    display: inline-block;
}
    
    
}

/* about us page media query at 992px max width */

@media only screen and (max-width:992px){
    
    
#about_us_leftdiv img{
    width:90%;
    float: none;
}

    
#about_us_adventure{
    margin-top:2rem;
    display: block;
}
    
#about_us_paragraph{
    padding-top:0rem;
}

    
}

/* about us page media query at 767px max width */

@media only screen and (max-width:767px){
        
    #about_us_awards{
    font-size: 3.8rem;
    margin: 3rem 0 2rem 0;
}
    
    #about_us_label{
    width:100%;
}
    
    #about_us_label p{
    font-size: 3.8rem;
    width:100%;
    }
    
}
    

/* end about_us page */

/* start catering subpages */

/* start catering "catering.html" subpage */

#catering_image_section{
    display: block;
    background-image:url(http://i.imgur.com/LMFAyqB.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100rem;
    width: 100%;
    font-family: "muli";
    font-size: 1.8rem;
    font-weight: 300;
    color: #ffffff;
    height: 150rem;
}


#catering_label{
    width:80rem;
    display: inline-block;
    position: relative;
    top:11rem;
}

#catering_label p:nth-child(1){
    color:#FFC300;
    font-family: "pacifico";
    text-transform: capitalize;
    font-size:7.2rem;
    padding:0;
    margin:0;
    font-weight: 500;
}

#catering_label p:nth-child(2){
    color:#ffffff;
    font-family: "muli";
    font-size:1.6rem;
    padding:0;
    margin:0;
}

#blackboard_div{
    width:117rem;
    display: inline-block;
    margin-top:18rem;
    height: auto;
}

#catering_left_div{
    width: 50%;
    display: inline-block;
    float: left;
    height: auto;
}

#catering_left_div > div{
    width:96%;
    display: inline-block;
    text-align: left;
    height: auto;
}

#couple_image{
    width:100%;
}

#catering_right_div{
    width: 50%;
    display: inline-block;
    float: left;
    height: auto;
}

/* forms to catering subpages */

#form_div{
    width:65%;
    display: inline-block;
    height: auto;
}

.catering_form1{
    height:17rem
}

.catering_form1 input{
    border-radius:4px;
    font-size: 1.6rem;
    height:5.4rem;
    color: #ffffff;
    background-color:transparent;
}

.input_design1{
    border:1px solid #cccccc;
    padding-left: 12px;
    font-weight: 400;
    opacity: .8;
}

.input_color{
    color: #ffffff;
}

.catering_input1{
    width:96%;
    margin:1rem 0 2rem 0;
}

.catering_input2{
    width:40%;
    float: left;
    margin-bottom: 2rem;
}

.catering_input3{
    width:16rem;
    float:right;
    display: inline-block;
    margin-bottom: 2rem;
}

.catering_form2{
    height:9rem;
    width:17rem;
    display: inline-block;
    float: left;
    margin-bottom: 3rem;
}

.right_input{
    float: right;
    
}

.catering_form2 span{
    width:100%;
    display: inline-block;
    text-align: left;
    margin:1rem 0 1rem 0;
    line-height: 3rem;
}

.catering_form2 input{
    border-radius:4px;
    font-size: 1.6rem;
    height:5.4rem;
    color: #ffffff;
    background-color:transparent;
    width:90%;
    opacity: 1;
}

.catering_form3{
    height:9rem;
    width:38rem;
    display: inline-block;
    float: left;
    margin-bottom: 3rem;
    text-align: left;
}

.catering_form3 input{
    border-radius:4px;
    font-size: 1.6rem;
    height:5.4rem;
    color: #ffffff;
    background-color:transparent;
    width:95%;
    opacity: 1;
    margin-bottom: 2rem;
}

.catering_form3 span{
    display: block;
    line-height: 3rem;
    margin: 1rem 0 1rem 0;
}

#input_message{
    height: 25rem;
}

#input_message::-webkit-input-placeholder{
    position:relative;
    top:-10rem;
}

#catering_button{
    background-color: #ffc300;
    border-radius: 4px;
    width:10.4rem;
    color:#ffffff;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top:2rem;
}


/* start catering page media query at 1100px max width */

@media only screen and (max-width:1100px){
    
    #blackboard_div{
    width:90%;
}
    
    #form_div{
    width:85%;
}
    
}

/* start catering page media query at 992px max width */

@media only screen and (max-width:992px) {
        
    #catering_image_section{
        height: auto;
    }
    
    #catering_label{
    width:100%;
}

#catering_label p:nth-child(1){
    font-size:5.2rem;
}
    
    #catering_label p:nth-child(2){
    font-size:1.4rem;
}


#blackboard_div{
    width:100%;
    margin-top:16rem;
    height: auto;
}

#catering_left_div{
    width: 100%;
    height: auto;
}

#catering_left_div > div{
    width:90%;
}

#couple_image{
    width:100%;
}

#catering_right_div{
    width: 100%;
    height: auto;
}

/* forms to catering subpages */

#form_div{
    width:90%;
    height: auto;
}

.catering_form1 input{
    width:100%;
}

.catering_input1{
    width:96%;
    margin:1rem 0 2rem 0;
}

.catering_input3{
    width:100%;
    position:relative;
    top:0rem;
    left:1.5rem;
    
}

.catering_form2{
    width:100%;
}

.catering_form2 input{
    width:100%;
}

.catering_form3{
    height:auto;
    width:100%;
}

.catering_form3 input{
    width:100%;
}
    
    
}



/* end "catering.html" page */


/* start fresno lunch box subpage */

#fresno_lunchbox_image_section{
    display: block;
    height: 100rem;
    width: 100%;
    font-family: "muli";
    font-size: 1.8rem;
    font-weight: 300;
    color: black;
    height: auto;
    padding-bottom: 6rem;
}

#lunchbox_fields{
    text-align: left;
    margin-top: 5rem
}


#fresno_lunchbox_label{
    width:100%;
    display: inline-block;
    position: relative;
    top:11rem;
}

#fresno_lunchbox_label p:nth-child(1){
    color:black;
    font-family: "pacifico";
    text-transform: capitalize;
    font-size:7.2rem;
    padding:0;
    margin:0;
    font-weight: 500;
}


#fresno_lunchbox_div{
    width: 70%;
    display: inline-block;
    height: auto;
}

#fresno_lunchbox_form_div{
    width:100%;
    display: inline-block;
    height: auto;
    text-align: left;
}

#fields_p{
    margin:4rem 0 3rem 0;
}

#please_p{
    margin:4rem 0 3rem 0;
    text-align: center;
}

#thank_p{
    margin:4rem 0 3rem 0;
    text-align: center;
}

.fresno_lunchbox_h1{
    font-size: 5rem;
    font-weight: 500;
}

#fresno_lunchbox_input1{
    width:100%;
    height: 4rem;
}

#fresno_lunchbox_top_div{
    height:60rem;
}

#fresno_lunchbox_input10{
    width:2rem;
    height: 2rem;
    position:relative;
    top:4px;
    left:10px;
}

#fresno_lunchbox_date{
    width:100%;
    display: block;
}

.fresno_lunchbox_input2{
    height: 4rem;
    width:20rem;
    margin-left:2rem;   
}

#fresno_lunchbox_button{
    background-color: #ffc300;
    height: 5rem;
    color:#ffffff;
    border-radius: 4px;
    width:10.4rem;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top:2rem;
}

.first_asterisk{
    color:red;
}

.red_asterisk{
    color:red;
    font-weight: 600;
}

#total{
    background-color:lightgray;
}

/* start fresno lunch box page media query at 768px max width */

@media only screen and (max-width:768px){
    
    #fresno_lunchbox_label p:nth-child(1){
        font-size: 5.2rem;
    } 
    
    .fresno_lunchbox_input2{
    width:100%;
    margin-left:0rem;   
}
    .fresno_lunchbox_h1{
    font-size: 3.5rem;
}
    
}


/* end fresno lunch box subpage */

/* end catering subpages*/


/* start contact_us page */


#contact_us_header{
    height:10rem;
    margin:0 auto;
    display: block;
    position:fixed;
    background-color:#ffffff;
    width:100%;
    z-index: 1;
}

#dustybuns_icon{
    display: inline-block;
    float: left;
    font-family:"pacifico";
    font-size:3.6rem;
    font-weight: 700;
    margin:2rem 0 0 3rem;
    width:20rem;
        
}

#contact_us_navbar{
    width:91rem;
    height:auto;
    margin:0 auto;
    display: inline-block;
    float: left;
}

#contact_us_navbar > ul{
    list-style: none;
    padding:0;
    margin:0;
    width: 100%;
    display:inline-block;
    position: relative;
    top:2rem;
}

#contact_us_navbar > ul > li{
    display: inline-block;
    float:left;
}

#contact_us_navbar > ul > li:nth-child(1){
    width:10%;
}

#contact_us_navbar > ul > li:nth-child(2){
    width:25%;
}

#contact_us_navbar > ul > li:nth-child(3){
    width:17%;
}

#contact_us_navbar > ul > li:nth-child(4){
    width:15%;
}

#contact_us_navbar > ul > li:nth-child(5){
    width:18%;
}

#contact_us_navbar > ul > li:nth-child(6){
    width:15%;
}

#contact_us_navbar > ul > li:nth-child(1) > a{
    width:8rem;
    height:6rem;
    display: inline-block;
}

#contact_us_navbar > ul > li:nth-child(2) > a{
    width:17rem;
    height: 6rem;
    display: inline-block;
}

#contact_us_navbar > ul > li:nth-child(3) > a{
    width:11rem;
    height: 6rem;
    display: inline-block;
}

#contact_us_navbar > ul > li:nth-child(4) > a{
    width:10rem;
    height: 6rem;
    display: inline-block;
}

#contact_us_navbar > ul > li:nth-child(5) > a{
    width:12rem;
    height: 6rem;
    display: inline-block;
}

#contact_us_navbar > ul > li:nth-child(6) > a{
    width:10rem;
    height: 6rem;
    display: inline-block;
}


#contact_us_navbar > ul > li > a{
    text-decoration: none;
    color:#000000;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 700;
    font-size:1.6rem;
    letter-spacing: 1px;
    border-radius: 4px;
    transition:.5s;
}

#contact_us_navbar > ul > li > a:hover{
    color:#BCCF3D;
}

#contact_us_main{
    display: block;
    margin:0 auto;
    width: 100%;
    height: auto;
    
}

#contact_us_title{
    display: inline-block;
    width:auto;
    margin:11rem 0 0 0;
    font-size: 7.2rem;
    font-family: "pacifico";
    color: #FFC300;
    padding: 0;
}

#googlemap_div{
    display: block;
    width:auto;
    margin:0 auto;
    height: auto;
}

#googlemap_div > div{
    width:110rem;
    display: inline-block;
    margin-bottom: 10rem;
}

#contact_us_label{
    display: none;
}

#contact_us_input{
    display: none;
}




/* contact us page media query at 1157px max width */

@media only screen and (max-width:1157px){
    
    
#contact_us_navbar{
    width:100%;
    background-color:white;
}
    
    #contact_us_navbar > ul > li{
        background-color:white;
    }

#contact_us_navbar > ul > li:nth-child(1){
    width:100%;
}

#contact_us_navbar > ul > li:nth-child(2){
    width:100%;
}

#contact_us_navbar > ul > li:nth-child(3){
    width:100%;
}

#contact_us_navbar > ul > li:nth-child(4){
    width:100%;
}

#contact_us_navbar > ul > li:nth-child(5){
    width:100%;
}

#contact_us_navbar > ul > li:nth-child(6){
    width:100%;
}

  /* hamburger bars */  
    
    #contact_us_label{
        font-size:4rem;
        position:absolute;
        z-index: 1;
        color: black;
        float: left;
        display: inline-block;
        width: 10%;
        top:0;
        right: 1rem;
    }
    
    #contact_us_navbar{
        display: none;
    }
    
    #contact_us_input:checked + #contact_us_navbar{
        display: block;
    }
    
    /* adjusting map size */
    
    #googlemap_div > div{
    width:90%;
    margin-bottom: 7rem;
    overflow: hidden;
}
    
}


/* contact us page media query at 767px max width */

@media only screen and (max-width:767px){
    
    
    #contact_us_title{
    margin:10rem 0 0 0;
    font-size: 5.2rem;
}
    
}

/* end contact_us page */

/* start careers page */

#careers_image_section{
    display: block;
    background-image:url(http://i.imgur.com/CE4L2bl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#careers_label{
    width:50rem;
    display: inline-block;
    position: relative;
    top:16rem;
}

#careers_label p:nth-child(1){
    color:#BCCF3D;
    font-family: "pacifico";
    text-transform: capitalize;
    font-size:7.2rem;
    padding:0;
    margin:0;
    font-weight: 500;
}

#careers_label p:nth-child(2){
    color:#ffffff;
    font-family: "muli";
    font-size:1.6rem;
    padding:0;
    margin:0;
}

#careers_main{
    margin:0 auto;
    display: block;
}

#careers_main > div{
    width:117rem;
    display: inline-block;
    text-align: left;
    font-size: 1.8rem;
    font-family: "muli";
    color:#525252;
    margin: 2rem 0 9rem 0;
}

#careers_leftdiv{
    width:75%;
    display: inline-block;
    float:left;
}

#careers_leftdiv p{
    width:97%;
}

#careers_paragraph{
    line-height: 3.5rem;
    padding-top:2rem
}

#careers_skills{
    font-weight: 500;
    font-size: 3.3rem;
    color:#BCCF3D;
}

#careers_lastline{
    padding-top:3rem;
}

#careers_rightdiv{
    width:25%;
    display: inline-block;
}

#careers_rightdiv p{
    width:90%;
    margin-left:1.5rem;
}

.careers_cook{
    color:#BCCF3D;
    font-size: 4.8rem;
    font-weight: 500;
    font-family: "pacifico";
    margin:0;
}

.careers_line{
    border-bottom: 1px solid #BCCF3D;
    padding-top:1.5rem;
}

/* copied and pasted menu and catering dropdowns to career page and making necessary adjustments to match the rest of the items on the navbar */

#careers_label_menu{
    text-decoration: none;
    color:black;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 700;
    font-size:1.6rem;
    letter-spacing: 1px;
    border-radius: 4px;
    transition:.5s;
    display: inline-block;
    height: 6rem;
    width:20rem;
}



#careers_label_menu:hover{
    color:#BCCF3D;
}

#navbar > ul > li > a:hover{
    background-color:#BCCF3D;
}

.index_span_position{
    position:relative;
    top:2rem;
}

#careers_menu_dropdown{
    background-color:#ffffff;
    width:18rem;
    height: 14rem;
    font-weight: 400;
    color:#525252;
    font-size:1.4rem;
    margin:0 auto;
    display: none;
    position:relative;
    top:1.5rem;
    left:-3rem;
    font-family: "muli";
    z-index: 1;
}

#careers_menu_dropdown p{
    display: inline-block;
    width:100%;
    text-align: left;
    height: calc(100%/3);
    margin:0;
    
}

#careers_menu_dropdown p a{
    display: block;
    height: 100%;
    width:100%;
}

.menu_p a:hover{
    background-color:#BCCF3D;
}

#careers_menu_dropdown p a span{
    padding-left:2rem;
    position:relative;
    top:1.5rem;
}

#careers_input_menu{
    display: none;
}

#careers_input_menu:checked + #careers_menu_dropdown{
    display: block;
}

/* dropdown for catering pages */

#careers_label_menu2{
    text-decoration: none;
    color:black;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 700;
    font-size:1.6rem;
    letter-spacing: 1px;
    border-radius: 4px;
    transition:.5s;
    display: inline-block;
    height: 6rem;
    width:12rem;
}

#careers_label_menu2:hover{
    color:#BCCF3D;
}

#careers_catering_dropdown{
    background-color:#ffffff;
    width:28rem;
    height: 14rem;
    font-weight: 400;
    color:#525252;
    font-size:1.4rem;
    margin:0 auto;
    display: none;
    position:relative;
    top:1.5rem;
    font-family: "muli";
    z-index: 1;
}

#careers_catering_dropdown p{
    display: inline-block;
    width:100%;
    text-align: left;
    height: calc(100%/3);
    margin:0;
    
}

#careers_catering_dropdown p a{
    display: block;
    height: 100%;
    width:100%;
}

.menu_p a:hover{
    background-color:#BCCF3D;
}

#careers_catering_dropdown p a span{
    padding-left:2rem;
    position:relative;
    top:1.5rem;
}

#careers_input_menu2{
    display: none;
}

#careers_input_menu2:checked + #careers_catering_dropdown{
    display: block;
    
}

/* start media query for careers page */

/* careers page media query at 1200px max width */

@media only screen and (max-width:1200px){
    
    
    #careers_main > div{
    width:90%;
}    
#careers_rightdiv{
    width:20rem;
    float:right;
}
    
}

/* careers page media query at 906px max width */

@media only screen and (max-width:906px) {
    
    
    #careers_leftdiv{
        width:100%;
    }
    
    #careers_rightdiv{
    width:100%;
    float:right;
}
    
    #careers_label{
    width:100%;
}

#careers_label p:nth-child(1){
    color:#BCCF3D;
    font-size:5.2rem;
}
    
}


/* end careers page */

/* start cook page */


#cook_image_section{
    display: block;
    background-image:url(http://i.imgur.com/tdWrgYt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#cook_label{
    width:50rem;
    display: inline-block;
    position: relative;
    top:16rem;
}

#cook_label p:nth-child(1){
    color:#BCCF3D;
    font-family: "pacifico";
    text-transform: capitalize;
    font-size:7.2rem;
    padding:0;
    margin:0;
    font-weight: 500;
}

#cook_label p:nth-child(2){
    color:#ffffff;
    font-family: "muli";
    font-size:1.6rem;
    padding:0;
    margin:0;
}

#cook_main{
    margin:0 auto;
    display: block;
    background-image:url(http://i.imgur.com/uftudsk.png);
}

#cook_main > div{
    width:117rem;
    display: inline-block;
    text-align: left;
    font-size: 1.8rem;
    font-family: "muli";
    color:#525252;
    margin: 6rem 0 9rem 0;
}

#cook_leftdiv{
    width:75%;
    display: inline-block;
    float:left;
    margin-top:3rem;
}

#cook_ul{
    line-height: 2.9rem;
}

#cook_nobullet{
    list-style: none;
}

#cook_leftdiv p{
    width:97%;
}

.cook_paragraph{
    line-height: 3.5rem;
    padding-top:2rem
}

#cook_skills{
    font-weight: 500;
    font-size: 3.3rem;
    color:#BCCF3D;
}

#cook_lastline{
    padding-top:3rem;
    font-weight: 700;
}

#cook_rightdiv{
    width:25%;
    display: inline-block;
}

#cook_rightdiv p{
    width:90%;
    margin-left:1.5rem;
}

.cook_cook{
    color:#BCCF3D;
    font-size: 4.8rem;
    font-weight: 500;
    font-family: "pacifico";
    margin:0;
}

.cook_line{
    border-bottom: 1px solid #BCCF3D;
    padding-top:1.5rem;
}

@media only screen and (max-width:1200px){
    
    
    #cook_main > div{
    width:90%;
}    
#cook_rightdiv{
    width:20rem;
    float:right;
}
    
}

/* cook page media query at 906px max width */

@media only screen and (max-width:906px) {
    
    
    #cook_leftdiv{
        width:100%;
    }
    
    #cook_rightdiv{
    width:100%;
    float:right;
}
    
}

/* end cook page */

/* no css for cashier page because it is almost identical to cook page */




/*

images:

bun w pictures:  http://i.imgur.com/2Ry99yX.jpg

jeep:  http://i.imgur.com/94ZsG77.jpg

side view:  http://i.imgur.com/j2Yjg6a.jpg

red leaf:  http://i.imgur.com/Y8oCeDm.jpg

taco truck sketch  http://i.imgur.com/WXNnYJE.jpg

hand peace sign:  http://i.imgur.com/qhhLyaj.jpg

hamburger:  http://i.imgur.com/zlwZhA7.jpg

taco truch front:  http://i.imgur.com/KoM7MHG.jpg

fork n knife:  http://i.imgur.com/bUGnrIN.png


*/