html, body{
    margin:0;
    padding:0;
    font-size:62.5%;
    box-sizing:border-box;
    
}

body{
    height:100%;
    width:100%;
    text-align: center;
    font-size:2rem;
    font-family: serif;
}

header{
    
}

#navbar{
    width:100%;
    height:auto;
    margin:0 auto;
    display: block;
}

#navbar > ul{
    list-style: none;
    padding:0;
    margin:0;
    width: 70%;
    display:inline-block;
    position: absolute;
    top:4rem;
    left:20rem;
}

#navbar > ul > li{
    width:calc(100%/6);
    display: inline-block;
    float:left;
}

#navbar > ul > li > a{
    text-decoration: none;
    color:#ffffff;
    text-transform: capitalize;
    font-family:"muli";
    font-weight: 800;
    font-size:1.6rem;
    text-shadow:1px 1px 5px #000000;
}

#label_section{
    display: block;
    background-image:url(http://i.imgur.com/zlwZhA7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 64rem;
    width: 100%;
}

#dustybuns_label{
    width:50rem;
    display: inline-block;
    position: relative;
    top:21rem;
}

#dustybuns_label p:nth-child(1){
    color:#ffffff;
    font-family: "pacifico";
    text-transform: capitalize;
    font-size:7.2rem;
    padding:0;
    margin:0;
}

#dustybuns_label p:nth-child(2){
    color:#ffffff;
    font-family: "muli";
    text-transform: capitalize;
    font-size:4.1rem;
    padding:0;
    margin:0;
}

#welcome > p:nth-child(1){
    font-family: "pacifico";
    font-size:7.2rem;
    color: #ffc300;
    padding: 0;
    margin:6rem 0 1rem 0;
}

#welcome > p:nth-child(2) img{
    width:17rem;
}

#welcome > p:nth-child(3){
    font-family: "muli";
    font-size: 1.8rem;
    width: 95rem;
    display: inline-block;
    margin-bottom: 8rem;
}

#index_photos{
    width:117rem;
    display: inline-block;
}

#topleft_div{
    height: 53.6rem;
    width:calc(100%/2);
    display: inline-block;
    float:left;
}

#topleft_div > div:nth-child(1){
    width:calc(100%/2);
    display:inline-block;
    float: left;
}

#topleft_div > div:nth-child(1) > img{
    width:100%;
    height: 53.6rem;
}

#topleft_div > div:nth-child(2){
    width:calc(100%/2);
    display:inline-block;
    height: 100%;
    background-color:#BCCF3D;
    font-family: "muli";
    font-size: 1.6rem;
}

#topleft_div > div:nth-child(2) > p{
    margin:0;
    line-height:2.5rem;
}

.fontawesome_icons{
    padding-top:2rem;
    font-size: 3rem;
}

.line{
    border-bottom:1px solid #ffffff;
    width:7rem;
    display: inline-block;
    position:relative;
    top:-.5rem;
}

.white_color{
    color:#ffffff;
}

.grey_color{
    color:grey;
}

/* top right div for home page */

#index_topright_div{
    height: 53.6rem;
    width:calc(100%/2);   
    display: inline-block;
    float:left;
    background-color:#FFC300;
}

#index_topright_div > div{
    width:calc(100%/2);
    display: inline-block;
    float:left;
    font-family: "muli";
    font-size: 1.6rem;
}

#index_topright_div > div > p{
    margin:0;
    line-height:2.5rem;
}

#index_topright_div > div > img{
    width:100%;
}

#truch_sketch_image{
    position: relative;
    top:-.4rem;
    height: 27.6rem;
}





/*

images:

bun w pictures:  http://i.imgur.com/2Ry99yX.jpg

jeep:  http://i.imgur.com/94ZsG77.jpg

side view:  http://i.imgur.com/j2Yjg6a.jpg

red leaf:  http://i.imgur.com/Y8oCeDm.jpg

taco truck sketch  http://i.imgur.com/WXNnYJE.jpg

hand peace sign:  http://i.imgur.com/qhhLyaj.jpg

hamburger:  http://i.imgur.com/zlwZhA7.jpg

taco truch front:  http://i.imgur.com/KoM7MHG.jpg

fork n knife:  http://i.imgur.com/bUGnrIN.png


*/